.paranaisLogo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
}
ion-content {
    --ion-background-color: rgb(204, 236, 200);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

