<ion-content class="ion-padding">
  <ion-img class="paranaisLogo" alt="logo" src="../../../assets/img/about/Desain_tanpa_judul__1_-removebg-preview.png"></ion-img>
  <ion-card>
    <img src="../../../assets/img/room/room-5.jpg" />
    <ion-card-header>
      <ion-card-title>Solo Room</ion-card-title>
      <ion-card-subtitle>
        Rp450.000/malam
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Kamar dengan suasana cozy yang dilengkapi dengan solo bed, workspace, mini deck, kamar mandi dengan pemanas air, jendela besar dengan view citylight ketika malam hari.
    </ion-card-content>
    <ion-button (click)="navigateToReservation()" fill="clear">pesan sekarang ></ion-button>
  </ion-card>
  <ion-card>
    <img src="../../../assets/img/room/room-2.jpg" />
    <ion-card-header>
      <ion-card-title>Couple Room</ion-card-title>
      <ion-card-subtitle>
        Rp750.000/malam
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
     Kamar dengan konsep klasik yang dilengkapi dengan couple bed, medium couple deck, kamar mandi dilengkapi pemanas air, dapur mini.
    </ion-card-content>
    <ion-button fill="clear">pesan sekarang ></ion-button>
  </ion-card>
  <ion-card>
    <img src="../../../assets/img/room/room-1.jpg" />
    <ion-card-header>
      <ion-card-title>Deluxe Room</ion-card-title>
      <ion-card-subtitle>
        Rp950.000/malam
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
     Kamar dengan konsep minimalis yang dilengkapi dengan super deluxe bed, large deck, kamar mandi dilengkapi pemanas air, extra space.
    </ion-card-content>
    <ion-button fill="clear">pesan sekarang ></ion-button>
  </ion-card>
</ion-content>