ion-content{
    --background: rgb(204, 236, 200);
    min-height: 100%;
   
    .upper{
        width: 100%;
        height: 200px;
        padding-top: 50px;

        .logo{
            display: flex;
            justify-content: center;
            align-items: center;
            size: 10px;

            ion-img{
              width: 200px;
            }
        }
        #login{
            text-align: center;
            color: white;
        }
    }
   
    .middle {
        padding:20px;
    
        .box{
            border-radius: 10px;
            height:auto;
            background:none;
            padding: 20px;
    
        }
    }
}
