<ion-content>
  <div class="upper">
    <div class="logo">
      <ion-img src="../../../assets/img/icon/Picsart_24-06-20_21-51-38-802.png"></ion-img>
    </div>
  </div>

  <div class="middle">
    <div class="box">
      <form #loginForm="ngForm">
        <p>Silakan login</p>

        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email"
                     placeholder="email"
                     name="email"
                     #email="ngModel"
                     [(ngModel)]="login.email"></ion-input>
        </ion-item>
      </form>
    </div>
  </div>
</ion-content>
