<ion-content>
  <div class="upper">
    <div class="logo">
      <ion-img src="../../../assets/img/icon/Picsart_24-06-20_21-51-38-802.png"></ion-img>
    </div>
  </div>

  <div class="middle">
    <div class="box">
      <form #loginForm="ngForm">
        <p>Silakan login</p>

        <ion-item>
          <ion-label position="floating">Email Address</ion-label>
          <ion-input type="email" placeholder="Email" name="email" #email="ngModel" [(ngModel)]="login.email"
          required email></ion-input>
          <ion-icon class="ion-align-self-center" slot="end" name="mail"></ion-icon>
        </ion-item>

        <div *ngIf="email.invalid && email.touched ">
          <ion-text color="danger text-center">
            <h4 style="padding-left: 20px; margin-top: 10px;">Please Write Email Address</h4>
          </ion-text>
        </div>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input [type]="type ? 'password' : 'text'" placeholder="Password" name="password" #password="ngModel"
          [(ngModel)]="login.password" required></ion-input>
          <ion-icon class="ion-align-self-center" name="eye-outline" slot="end"  (click)="changeType()"
          [name]="type ? 'eye' : 'eye-off'"></ion-icon>
        </ion-item>
       
        <div *ngIf="password.invalid && password.touched ">
          <ion-text color="danger text-center">
            <h4 style="padding-left: 20px; margin-top: 10px;">Please Provide Password</h4>
          </ion-text>
        </div>
        <p id="forgetPassword" (click)="goToForget()"> Forgot Password?</p>
        <div class="btn">
          <ion-button (click)="goToBeranda()" [disabled]="loginForm.invalid">Login</ion-button>
        </div>
      </form>
      <div class="navigator">
        <p (click)="goToRegister()">Don't have an Account ? Register Now</p>
      </div>
      <p id="media"> Or Login using Google</p>
      <div class="socialMedia">
        <ion-icon name="logo-google" (click)="gmailLogin()"></ion-icon>
      </div>
    </div>
  </div>
</ion-content>
