<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Registrasi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <form (ngSubmit)="register()">
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-label position="floating">Konfirmasi Password</ion-label>
            <ion-input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required></ion-input>
          </ion-item>
          
          <ion-button expand="full" type="submit">Daftar</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
